<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3GYLQAuoEHq1U4xH6ZussAtIWbhKHaSA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069058058728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antigravity.cashbookApp</string>
	<key>PROJECT_ID</key>
	<string>cashbook-4b0ec</string>
	<key>STORAGE_BUCKET</key>
	<string>cashbook-4b0ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069058058728:ios:95f734b9f5c85a7de5dc5d</string>
</dict>
</plist>